# Servidor
PORT=3002

# Base de datos PostgreSQL para el Microservicio de Auditoría
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/audit_db?schema=public"

# Conexión a RabbitMQ
RABBITMQ_URL="amqp://guest:guest@localhost:5672"
